{% extends "base.html" %}
{% load staticfiles %}
{% block title %}查看图书{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

            {% comment %}
			<div class="col-md-5">
				{% if img_list %}
					<div id="carousel-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
						{% for item in img_list %}
							<li data-target="#carousel-generic" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
						{% endfor %}
						</ol>
						<div class="carousel-inner" role="listbox">
						{% for img in img_list %}
							<div {% if forloop.first %}class="item active"{%else%}class="item"{% endif %}>
								<img class="img-rounded" src="/{{img.img}}">
							</div>
						{% endfor %}
						</div>
						<a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				{% else %}
					<p class="text-center">暂无图片</p>
				{% endif %}
			</div>
            {% endcomment %}
			<div class="col-md-6 col-md">
				<h2 class="text-center">{{ record.name}}</h2>
				<br>
                <h3 class="field-title">Resource Type:</h3>
                <p>{{ record.resource_type }}</p>
                <h3 class="field-title">Author:</h3>
                <p>{{ record.author }}</p>
				<h3 class="field-title">Description: </h3>
                <p> {{ record.record_description }} </p>
                <h3 class="field-title">Publish Date: </h3>
                <p>{{ record.pubDate}}</p>
				<h3 class="field-title">Subjects：</h3>
                <p> {% for subject in record_subjects %}
                    {{ subject }} &nbsp;
                    {% endfor %} </p>
                <h3 class="field-title">Publish Country:</h3>
                <p>  {{ record.pub_country }} </p>
                <h3 class="field-title">OSTI Number：</h3>
                <p> {{ record.OSTI_id }} </p>
                <h3 class="field-title">Report Number：</h3>
                <p> {{ record.report_num }} </p>
                <h3 class="field-title">Research Organisations：</h3>
                <p> {{ record.research_org }}</p>
                <h3 class="field-title">Sponsor Organisations: </h3>
                <p> {{ record.sponsor_org }} </p0>
                <h3 class="field-title">Full Text：</h3>
                <p> {{ record.full_link}} </p>
				{# <h3>价格：{{ book.price|floatformat:2 }}</h3> #}
			</div>
		</div>
	</div>
</div>

{% endblock %}