{% extends "base.html" %}
{% load staticfiles %}
{% block title %}ViewBooks Debug{% endblock %}
{% block content %}
<div class="container">

        {# TODO: for displaying Directory #}
        <div class="row" >
            <div class="col-md-10 col-md-offset-2">
                <em class="directory-title"> Directory: </em>
                {% for history_item in browse_history %}
                    {% if history_item.0 != 0 %}
                        <a href="?back={{ history_item.0 }}"><em class="directory-tree"> {{ history_item.1 }} / </em></a>
                    {% endif %}
                    {% if history_item.0 == 0 %}
                        <em class="directory-node"> {{ history_item.1 }} </em>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-2">
				<div class="list-group">
					<a href="{% url "OE:viewbook" %}" class="list-group-item" >
						all subjects
					</a>
                        {% if book_type != 'all' and book_type != '' %}
                        <div class="list-group-item">
                            <a href="#" class="not-active-slightly">
                                {{ book_type }}
                            </a>
                        </div>
                        {% endif %}
                    {% for typ in subject_list %}
                        {% if book_type != typ %}
                            <div class=list-group-item">
                                <a href="?record_type={{ typ }}&forward=1" class="list-group-item">
                                {{ typ }}
					            </a>
                            </div>
                        {% endif %}
					{% endfor %}
                    {% if cannot_back  %}
                        <div class="list-group-item">
                            <a href="#" class="not-active">Return Back</a>
                        </div>
                    {% else %}
                        <a href="?back=1" class="list-group-item">
                        Return Back
                        </a>
                    {% endif %}
				</div>
			</div>
			<div class="col-md-9 col-md-offset-1">
				<div class="col-md-4 col-md-offset-8">
					<form role="form" action="?record_type={{ book_type }}" method="post" name="search_form">
						{% csrf_token %}
						<input type="search" class="form-control" name="keywords" placeholder="Enter keywords to search" id="id_search_input" autofocus="True">
					</form>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>NAME</th>
							<th>PUBDATE</th>
							<th>RESEARCH ORG</th>
							<th>COUNTRY</th>
						</tr>
					</thead>
					<tbody>
						{% for record in record_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
                            <td><a href="{% url "OE:detail" record_id=record.id %}">{{ record.name }}</a></td>
                            <td>{{ record.pubDate|date:"Y-m-d" }}</td>
							<td>{{ record.research_org}}</td>
							<td>{{ record.pub_country }}</td>
						</tr>
						{% empty %}
						<tr>
							<td>No results.</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<nav>
					<ul class="pager">
						{% if record_list.has_previous %}
							<li class="previous"><a href="?page={{ record_list.previous_page_number }}&keywd={{ keywords }}&record_type={{ book_type }}">上一页</a></li>
						{% else %}
							<li class="previous disabled"><a href="#">上一页</a></li>
						{% endif %}
						第 {{ record_list.number }} / {{ record_list.paginator.num_pages }}页
						{% if record_list.has_next %}
							<li class="next"><a href="?page={{ record_list.next_page_number }}&keywd={{ keywords }}&record_type={{ book_type }}">>下一页</a></li>
						{% else %}
							<li class="next disabled"><a href="#">下一页</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
{% endblock %}