body
{
	padding-top: 50px;
	background-color: #eeeeee;
}

#header-base
{
	background-color:#339933;
	color:#fff;
}

#base_name
{
	color: #fff;
	font-weight: bold;
}

.not-active
{
    pointer-events: none;
    cursor: default;
    color: darkgrey;
}

.not-active-slightly
{
    pointer-events: none;
    cursor: default;
    color: darkgreen;
}

.field-title
{
    color: darkgreen;
}

.directory-title
{
    color: green;
    font-size: 16px;
}

.directory-tree
{
    color: coral;
    font-size: 15px;
}

.directory-node
{
    color: black;
    font-size: 15px;
}
